$font-stack: Helvetica, sans-serif;
.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #bd2130;
  transition: width .6s ease;
}

#carouselExampleCaptions {
  width: 600px;
  display: flex;
  max-width: 100%;

}
.carousel-control-next, .carousel-control-prev {
  width: 5%;
}