.header {
  padding: 15px;
  background-color: grey;
}
.header-item {
  display: inline-block;
  padding: 15px;
  background-color: brown;
  color: white;
  font-family: sans-serif;
  margin-right: 20px;
}
.sidebar {
  width: 480px;
  display: inline-block;
  margin-top: 40px;
  background-color: bisque;
  padding: 20px;
}
.subscription-button {
  width: 200px;
  color: white;
  float: left;
  background-color: lightblue;
  border: solid 5px blue;
  margin-right: 5%;
  padding: 50px;
  text-align: center;
  box-sizing: border-box;
}
.clear {
  clear: both;
}
