body {
  background: url(space.jpg);
}
.sun {
    width: 100px;
    height: 100px;
    background: yellow;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    top: 44%;
    left: 47%;
    margin-right: 50%;
 }
 .sun:hover {
    transform:scale(1.2);
 }

#inner-orbit {
  position: absolute;
  top: 95px;
  left: 95px;
  width: 150px;
  height: 150px;
  border: 2px #4A437F dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 10s linear infinite;
  animation: spin-right 3s linear infinite;
  top: 41%;
    left: 45%;
    position: absolute;
    
}
#inner-orbit:hover {
  animation-play-state: paused;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-cirlces {
  position: absolute;
  top: 62px;
  left: -6px;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: red;
}
.inner-orbit-cirlces:hover {

   animation-play-state: paused;
   transform: scale(1.2);
}
@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
#outer-orbit {
  position: absolute;
  top: 0;
  left: 0;
  width: 424px;
  height: 424px;
  border: 2px #4A437F dashed;
  border-radius: 100%;
  -webkit-animation: spin-left 20s linear infinite;
  animation: spin-left 5s linear infinite;
  top: 30%;
    left: 35%;
position: absolute;
}

/* ---------- Repeating styles for the outer orbiting circles ---------- */
.outer-orbit-cirlces {
  position: absolute;
  top: -1px;
  left: 125px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: #00FFCA;
}
.outer-orbit-cirlces:hover {

   animation-play-state: paused;
   transform: scale(1.2);
}
#outer-orbit:hover {
    animation-play-state: paused;
}